* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

:root {
  --yellow: #FFC857;
  --low-red: #E85F5C;
  --grey: #323031;
  --main-margin-top: 60px;
  font-size: 15px;
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
}

span {
  font-weight: 800;
}

.button-on-image {
  width: 100px;
  height: 35px;
  background: #E85F5C;
  color: white;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 800;
}

.button-classic {
  border: none;
  width: 191px;
  height: 40px;
  background: #E85F5C;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  font-weight: 800;
}

body {
  color: var(--grey);
}

header {
  width: 100%;
  /* margin-top: 46px; */
}

.top-section {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13px;
}

.burger {
  height: 25px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger .icon {
  width: 35px;
  height: 4px;
  background: var(--grey);
  border-radius: 5px;
  position: relative;
}

.burger .icon::after,
.burger .icon::before {
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  position: absolute;
  top: 9px;
}

.burger .icon::before {
  top: -9px;
}

.user {
  height: 36px;
  width: 112px;
  display: flex;
  justify-content: space-between;
}

.account,
.basket {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
}

.basket {
  font-weight: 400;
}

.slider {
  height: 40px;
  background: var(--yellow);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .content {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

.slider .content .display {
  display: initial;
}

.slider .content :not(.display) {
  display: none;
}

.slider .content::before,
.slider .content::after {
  content: '';
  background: center center no-repeat url(img/icon/slide-icon.svg);
  height: 15px;
  width: 15px;
  position: absolute;
  left: -20px;
}

.slider .content::after {
  transform: rotateZ(180deg);
  right: -20px;
  left: unset;
}

.slider .content a {
  text-decoration: underline;
}

.caroussel {
  margin-top: 33px;
  height: 220px;
  width: 100%;
  border: 5px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  background: center center / cover url(img/caroussel_soiree.jpg);
}

.caroussel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.caroussel-buttons {
  position: absolute;
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  top: 105.16px;
}

.caroussel-buttons .button {
  background: none;
  border: none;
  width: 31px;
  height: 31px;
}

.caroussel-content .description {
  position: absolute;
  top: calc(50% - calc(57px / 2));
  text-align: center;
  color: white;
  width: 335px;
  height: 57px;
}

.caroussel-content .description span {
  font-size: 28px;
}

.caroussel-content .button-on-image {
  position: absolute;
  top: 73.76%;
}

main {
  display: flex;
  flex-direction: column;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
}

.discover .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.discover h1 {
  font-size: 23px;
  font-weight: bold;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--main-margin-top);
}

.items .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  margin-bottom: calc( var(--main-margin-top) / 2);
}

.items .content p span{
  font-size: 18px;
}

.items .content p{
  font-size: 12px;
}

.items .content .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1027px;
}

.item {
  position: relative;
}

.item-img {
  border: 5px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  width: 335px;
  height: 220px;
  position: relative;
}

.item-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 52.6%, #FFFFFF 100%);
}

.item-img img {
  width: 100%;
  height: 100%;
}

.item .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  bottom: 9px;
  left: 9px;
}

.item .text .price {
  font-size: 18px;
}
