* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

body,
footer,
html,
main {
  min-width: 320px;
}

:root {
  --yellow: #FFC857;
  --low-red: #E85F5C;
  --grey: #323031;
  --main-margin: 60px;
  --footer-margin: 40px;
  font-size: 15px;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  cursor: pointer;
  color: var(--low-red);
}

span {
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

.button-on-image {
  width: 100px;
  height: 35px;
  background: #E85F5C;
  color: white;
  border: 2px solid #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
}

.button-classic {
  border: none;
  width: 191px;
  height: 40px;
  background: #E85F5C;
  border-radius: 6px;
  font-size: 18px;
  color: white;
  font-weight: 700;
}

.shadow-image {
  border: 5px solid white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.text-highlight {
  position: relative;
}

.text-highlight::after {
  content: '';
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -7px;
  height: 16px;
  background-color: var(--yellow);
}

body {
  color: var(--grey);
}

header {
  width: 100%;
  /* margin-top: 46px; */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.top-section {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 13px;
}

.burger {
  height: 25px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger.display .icon {
  background: unset;
}

.burger.display .icon::after {
  transform: rotateZ(315deg);
  top: 0;
  background: var(--low-red);
  transition: 0.3s linear;
  transition-delay: 0.1s;
}

.burger.display .icon::before {
  transform: rotateZ(-135deg);
  top: 0;
  background: var(--low-red);
}

.burger .icon {
  width: 35px;
  height: 4px;
  background: var(--grey);
  border-radius: 5px;
  position: relative;
  transition: 0.2s linear;
}

.burger .icon::after,
.burger .icon::before {
  transition: 0.2s linear;
  content: '';
  width: 35px;
  height: 100%;
  background: var(--grey);
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 9px;
}

.burger .icon::before {
  top: -9px;
}

.burger nav {
  z-index: 5;
  position: absolute;
  top: 33px;
  left: -220px;
  background: white;
  width: 200px;
  transition: 0.3s ease-in;
}

.burger.display nav {
  left: -13px;
}

nav ul {
  padding-left: 10px;
  margin: 15px 0;
}

nav ul li {
  font-size: 18px;
  margin: 10px 0;
}

.user {
  height: 36px;
  width: 112px;
  display: flex;
  justify-content: space-between;
}

.account,
.basket {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
}

.basket {
  font-weight: 400;
}

.slider {
  height: 40px;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .content {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
}

.slider .content .display {
  display: initial;
}

.slider .content :not(.display) {
  display: none;
}

.slider .content::before,
.slider .content::after {
  content: '';
  background: center center no-repeat url(img/icon/slide-icon.svg);
  height: 15px;
  width: 15px;
  position: absolute;
  left: -20px;
}

.slider .content::after {
  transform: rotateZ(180deg);
  right: -20px;
  left: unset;
}

.slider .content a {
  text-decoration: underline;
}

.caroussel {
  margin-top: 33px;
  height: 220px;
  width: 100%;
  background: center center / cover url(img/caroussel_soiree.jpg);
}

.caroussel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.caroussel-buttons {
  position: absolute;
  width: 100%;
  height: 31px;
  display: flex;
  justify-content: space-between;
  padding: 0 3px;
  top: 105.16px;
}

.caroussel-buttons .button {
  background: none;
  border: none;
  width: 31px;
  height: 31px;
}

.caroussel-content .description {
  position: absolute;
  top: calc(50% - calc(57px / 2));
  text-align: center;
  color: white;
  width: 335px;
  height: 57px;
}

.caroussel-content .description span {
  font-size: 28px;
}

.caroussel-content .button-on-image {
  position: absolute;
  top: 73.76%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 71px;
}

.discover .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.discover h1 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.discover h1.text-highlight::after {
  width: 245px;
  left: calc(50% - calc(245px / 2));
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--main-margin);
}

.items .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  margin-bottom: 30px;
}

.items .content .ps span {
  font-size: 18px;
}

.items .content .ps {
  font-size: 12px;
}

.items .content .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 1027px;
}

.item {
  position: relative;
}

.item-img {
  width: 100%;
  height: 220px;
  position: relative;
}

.item-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 52.6%, #FFFFFF 100%);
}

.item-img img {
  width: 100%;
  height: 100%;
}

.item .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  position: absolute;
  bottom: 9px;
  left: 9px;
}

.item .text .price {
  font-size: 18px;
}

.opinions {
  margin-top: var(--main-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  min-width: 320px;
}

.opinions .users {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  height: 419px;
  align-items: space-between;
}

.opinion .comment {
  text-align: justify;
}

.opinion .user {
  margin-top: 10px;
  width: 100%;
  font-weight: 700;
}

.team {
  margin: var(--main-margin) 0;
  max-width: 335px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team h2 {
  width: calc(100% + 5px);
  min-width: 320px;
  max-width: 340px;
}

.team-image {
  margin-top: 30px;
  background: center center url(img/mobile/team_mobile.jpg);
  max-width: 335px;
  min-width: 320px;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
}

.team-image .button-on-image {
  width: 183px;
  position: absolute;
  bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer hr {
  width: 100%;
  min-width: 320px;
  border: 1px solid var(--grey);
}

footer .values {
  margin: var(--main-margin) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 272px;
  height: 180px;
}

footer .values .value {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

footer .values .value img {
  margin-right: 11px;
}

footer .values .value span {
  color: var(--low-red);
  font-weight: 600;
}

footer .bottom-footer {
  margin-top: var(--main-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .join-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 335px;
  min-width: 320px;
  margin-bottom: var(--footer-margin);
}

footer .join-us .social {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .avis-verif {
  margin-bottom: var(--footer-margin);
}

footer .newsletter {
  width: 300px;
  margin-bottom: var(--footer-margin);
}

footer .newsletter .text {
  margin-bottom: 15px;
}

footer h3 {
  font-weight: 400;
  font-size: 20px;
}

footer .newsletter p {
  font-size: 13px;
}

footer .subscribe {
  height: 30px;
  display: flex;
  justify-content: space-between;
}

footer .subscribe input {
  border: 2px solid var(--low-red);
  padding-left: 12px;
  font-size: 18px;
  border-radius: 5px;
  width: 236px;
  height: 100%;
}

footer .subscribe .button-classic {
  height: 100%;
  width: 44px;
}

footer .help {
  width: 217px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--footer-margin);
}

footer .help h3 {
  margin-bottom: 5px;
}

footer .help .links {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer .help .left-links,
footer .help .right-links {
  display: flex;
  flex-direction: column;
}

footer .help .left-links a,
footer .help .right-links a {
  margin-bottom: 7px;
}